.accident-page-title {
  text-align: center;
  font-size: 2em;
  color: #4e6b31;
  margin: 20px 0;
}

.accident-nav-link-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
  width: 100%;
}

.accident-nav-link-btn:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.accident-form {
  color: #4e6b31;
}

.accident-form-group {
  margin-bottom: 20px;
}

.accident-form-label {
  direction: rtl;
  margin-bottom: 5px;
  display: block;
}

.accident-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.accident-input-file {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.accident-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.accident-submit-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
  width: 100%;
}

.accident-submit-btn:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.accident-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 20px;
  justify-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.accident-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 400px;
}

.accident-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accident-card-header {
  background-color: #4e6b31;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
}

.accident-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1em;
  align-items: flex-start;
}

.accident-card-body p {
  margin: 0;
}

.accident-card-footer {
  background-color: #f9f9f9;
  padding: 15px;
  text-align: center;
}

.accident-card-footer-button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
}

.accident-card-footer-button:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.accident-images img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

.accident-error-msg {
  color: red;
  font-weight: bold;
}

.accident-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}

.accident-form-container {
  width: 387px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

.accident-id-box {
  text-align: center;
  background-color: rgb(194, 173, 117);
  padding: 10px;
  border-radius: 8px 8px 0 0;
}
