.fines-main-fin {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}

.fines-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

.fines-fine-form {
  color: #4e6b31;
}

.fines-form-group {
  margin-bottom: 20px;
}

.fines-form-label {
  direction: rtl;
  margin-bottom: 5px;
  display: block;
}

.fines-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.fines-input-file {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.fines-input-date,
.fines-input-time,
.fines-input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
.fines-fix-Ar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fines-input-number {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  -moz-appearance: textfield;
}

.fines-input-number:focus {
  border-color: #4e6b31;
  box-shadow: 0 0 5px rgba(78, 107, 49, 0.5);
  outline: none;
}

.fines-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.fine-error-message-cont {
  background-color: #de4b4b;
  color: #000000;
  border: 1px solid #bcbcbc;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  text-align: right;
  position: absolute;
  top: 20%;
  right: 19%;
  font-size: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: auto;
}
.finesPage-info-group {
  border-radius: 8px;
  padding: 5px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  color: #333;
}

.fines-nav-link-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
  width: 100%;
}

.fines-nav-link-btn:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.fines-submit-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
  width: 100%;
}

.fines-submit-btn:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.fines-details-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.fines-details {
  margin-bottom: 20px;
}

.fines-details p {
  margin: 10px 0;
}

.fines-large-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

.fines-submit-form {
  font-weight: bold;
  cursor: pointer;
  background-color: #4e6b31;
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  margin: 10px auto;
  text-align: center;
  display: block;
  line-height: 50px;
}

.fines-submit-form:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.fines-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 20px;
  justify-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.fines-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 400px;
}

.fines-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fines-card-header {
  background-color: #4e6b31;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
}

.fines-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1em;
  align-items: flex-start;
}

.fines-card-body p {
  margin: 0;
}

.fines-card-footer {
  background-color: #f9f9f9;
  padding: 15px;
  text-align: center;
}

.fines-card-footer button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out, transform 0.2s ease;
  font-size: 1em;
}

.fines-card-footer button:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.fines-card .fines-images img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

.fines-large-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

.fines-carNumber {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.fines-card-id {
  padding: 10px;
  background-color: #b59958;
  border-radius: 4px;
}
