a{
    text-decoration: none;
}

.nav-links{
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }