.mainlog {
  width: 80%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: auto;
  margin: 0 auto;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead th {
  background-color: #4e6b31;
  color: white;
  padding: 10px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headtr {
  background-color: green;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) td {
  background-color: #e3e3e3;
}

tbody tr:nth-child(odd) td {
  background-color: white;
}

.ceoNameS {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tbody tr:hover td {
  background-color: #b59958;
}

.d-btn {
  border-radius: 8px;
  border: none;
  margin: 30px 0 30px 30px;
  background-color: #4e6b31;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.d-btn:hover {
  background-color: #3c5124;
}

.logs-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
