.mainlog {
  width: 80%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: auto;
  margin: 0 auto;
  border: 1px solid #ddd;
}

/* Table styles */
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead th {
  background-color: #4e6b31;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 3;
}

.headtr {
  background-color: green;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) td {
  background-color: #e3e3e3;
}

tbody tr:nth-child(odd) td {
  background-color: white;
}

tbody tr:hover td {
  background-color: #b59958;
}

.ceoNameS {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Button styles */
.d-btn {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

input[type="submit"] {
  width: 100%; /* Make buttons take full width */
  padding: 15px; /* Add padding for left and right */
  border-radius: 8px;
  border: none;
  background-color: #4e6b31;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Space between buttons */
}

.d-btn:hover,
input[type="submit"]:hover {
  background-color: #3c5124;
}

.filters-cont {
  width: 40%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: right;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-input-conts {
  font-weight: bold;
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search-buttons {
  font-size: large;
  font-weight: bold;
}

/* Align form and labels */
.filtersForm {
  direction: rtl;
}

label {
  font-weight: bold;
  color: #4e6b31;
}

/* Text input styling */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 100%; /* Make input fields span full width */
}

input[type="text"]:focus {
  border-color: #4e6b31;
  outline: none;
}

/* Logs buttons section */
.logs-btns {
  background-color: #b59958;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 30% 1fr;
}

.filtersDw {
  width: 100%;
}
