.main {
  display: grid;
  grid-template-columns: [first]74% [line2]27%;
  grid-template-rows: [first]10% [second]90%;
  padding: 0 30px 0 0;
}

.inuseBorder {
  margin-top: 20px;
  grid-row: 1;
  height: 100vh;
}

.inUsCont {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  height: 100%;
  max-height: 850px;
  gap: 20px;
  overflow-y: scroll;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-weight: bold;
}

.reg-cards-cont {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
}

.reg-card-info-cont {
  max-width: 320px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin: 10px;
}

.force100 {
  flex: 1;
  white-space: nowrap;
  background-color: #8b8888;
  height: 100%;
}

.reg-card-info-group {
  display: flex;
  gap: 5px;
  padding: 5px;
  background-color: #f0f8f0;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  color: #333;
}

.card-details {
  height: auto;
  width: 100%;
  max-width: 295px;
  font-family: Arial, sans-serif;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeIn 0.6s forwards;
  animation-delay: 0.2s;
}

.card-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.details {
  text-align: right;
}

#carisInuse {
  z-index: 9000;
}

.group-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.info-p {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: right;
}

.infoerr {
  padding: 0 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.info {
  padding: 0 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  gap: 10px;
}

.info-cont {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.info-car-name {
  display: block;
}

.br {
  background-color: #000;
  height: 1px;
  width: 90%;
  color: #000;
}

.reg-info-group-carPlate {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  color: #333;
}

.pk,
.employee-name,
.employee-number,
.car-name {
  font-size: 24px;
}

.created-at {
  font-size: 22px;
  font-weight: bold;
}

.created-at-display {
  font-size: 16px;
  font-weight: bold;
}

.input-cont {
  display: flex;
  flex-direction: column;
}

.forms-cont {
  margin-top: 20px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  width: 100%;
}

.h1n {
  background-color: #789dab;
  width: 100%;
  text-align: center;
  position: sticky;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.reg-page-all-messages {
  position: absolute;
  height: auto;
  top: 30%;
  right: 30%;
  z-index: 9000;
  width: 100%;
}

.regCont {
  background-color: #f9f9f9;
  border: 2px solid #d1d1d1;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.reg-form-header {
  background-color: #789dab;
  color: #ffffff;
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 24px;
  font-weight: bolder;
}

.reg-inpit-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.reg-inpit-group-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.reg-note-label {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  background-color: #789dab;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.reg-inpute-note {
  width: 100%;
  padding: 10px;
  border: 2px solid #c1c1c1;
  border-radius: 8px;
  font-size: 20px;
  transition: border-color 0.3s ease;
  height: 100px;
  resize: vertical;
  resize: none;
}

.reg-inpute-note:focus {
  border-color: #4e6b31;
  outline: none;
}

.labels {
  border-radius: 8px;
  padding: 10px;
  background-color: #789dab;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  width: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.inpute {
  width: 80%;
  padding: 10px;
  border: 2px solid #c1c1c1;
  border-radius: 8px;
  font-size: 20px;
  transition: border-color 0.3s ease;
}

.inpute:focus {
  border-color: #4e6b31;
  outline: none;
}

.reg-submit-btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  background-color: #4e6b31;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #b59958;
  transform: translateY(-2px);
}

.submit-btn:active {
  transform: translateY(0);
}

.success-msg {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error-msg {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.reg-error-cont {
  background-color: #de4b4b;
  color: #000000;
  border: 1px solid #bcbcbc;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  text-align: right;
  position: absolute;
  top: 20%;
  right: 3%;
  font-size: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: auto;
}

.reg-success-cont {
  background-color: #70bc66;
  color: #155724;
  border: 1px solid #70bc66;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  text-align: right;
  position: absolute;
  top: 20%;
  right: 3%;
  font-size: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: auto;
}

.reg-info-group {
  border-radius: 8px;
  padding: 5px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  color: #333;
}

.forms-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.full-width-form {
  width: 100%;
  max-width: none;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}

/* Add styles for full-size class */
.full-size {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#ret-succ-message,
#ret-err-message,
#ret-car-err {
  animation: fadeIn 0.5s ease-in-out;
}

.success-msg,
.error-msg,
.error-msg-empinuse {
  width: 100%;
  font-size: 80px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
}

.form-container {
  transition: opacity 0.5s ease;
}

.id {
  background-color: rgb(194, 173, 117);
  padding: 5px;
}

.reg-car-number {
  display: flex;

  background-color: #eae6e6;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  color: #333;
}
