/* General styling for the container */

.inUsCont {
  padding: 30px 0 0 0;
  margin: auto;
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex-wrap: wrap;
  grid-row-start: 1;
}

.car-details {
  width: 300px;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 18px;
  border: 1px solid #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the heading */
.car-details h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Styling for the details section */
.details {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  gap: 10px;
}

.info-cont {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.info-car-name {
  display: block;
}
.br {
  background-color: #000;
  height: 1px;
  width: 90%;
  color: #000;
}
/* Styling for the car plate */
.car-plate {
  display: flex;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Adjusting specific parts */
.pk,
.employee-name,
.employee-number,
.car-name,
.created-at {
  font-size: 16px;
}

.created-at {
  font-size: 18px;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, and newer versions of Edge */
  appearance: none; /* Modern browsers */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-cont {
  display: flex;
  flex-direction: column;
}

.inpute {
  padding: 5px;
  width: 250px;
  height: 40px;
  border: 2px solid #4e6b31;
}

.forms-cont {
  margin-top: 30px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}

.labels {
  padding-bottom: 5px;
  font-weight: bold;
}

.regCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 253, 253);
  border: 2px solid #c1c1c1;
  width: 350px;
  height: 250px;
  margin-bottom: 30px;
}

.submit-btn {
  cursor: pointer;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  background-color: #4e6b31;
  height: 40px;
}
.return-cont {
  display: flex;
  justify-content: right;
  background-color: rgb(253, 253, 253);
  border: 2px solid rgb(214, 209, 209);
  width: 350px;
}

.main {
  display: grid;
  grid-template-columns: [first]75% [line2]25%;
}

.inUsCont {
  font-weight: bold;
}
