/* General styling for the container */

.inUsCont {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.car-details {
  width: 250px;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the heading */
.car-details h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Styling for the details section */
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info{
  width: 100%;
}
/* Styling for each piece of information */
.info p,
.info h2 {
  margin: 0;
  padding: 5px 0;
  color: #555;
}

/* Styling for the car plate */
.car-plate {
 
  display: flex;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Adjusting specific parts */
.pk,
.employee-name,
.employee-number,
.car-name,
.created-at {
  font-size: 16px;
}

.created-at {
  font-size: 18px;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, and newer versions of Edge */
  appearance: none; /* Modern browsers */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.regCont {
  display: flex;
  justify-content: right;
}
