{% block body %}
<div>
  <div><h1>سجل المركبات</h1></div>

  {% for car in cars %}
  <div>
    <div>
      <button><a href=""> تفاصيل اكثر</a></button>
    </div>
    <div>
      <div>{{ car.carNumber }}</div>
      <div>
        {% for fine in car.finess.all %}
        <div>
          <div>{{ fine.text }}</div>
          <div>
            {% for image in fine.images.all %}git 
            <img src="{{ image.image.url }}" alt="Fine Image" />
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
