{% extends "logsApp/layout.html" %} {% block body %}
<div class="main-fin">
  <div class="form-container">
    <h1 class="page-title">المخالفات</h1>
    <button class="nav-link-btn show-hide-btn" onclick="toggleFineForm()">
      إضافة مخالفة
    </button>
    <form action="{% url 'logsApp:finec'%}" method="POST" class="fine-form" id="fineForm" style="display: none; opacity: 0; transition: opacity 0.5s ease-in-out;">
      {% csrf_token %}
      <div class="form-group">
        <label for="finedate" class="form-label">تاريخ المخالفة</label>
        <input
          type="date"
          name="finedate"
          id="finedate"
          class="input-date"
          required
        />
      </div>
      <div class="form-group">
        <label for="finetime" class="form-label">وقت المخالفة</label>
        <input
          type="time"
          name="finetime"
          id="finetime"
          class="input-time"
          required
        />
      </div>
      <div class="form-group">
        <label for="finecar" class="form-label">رقم السيارة</label>
        <input
          type="text"
          name="finecar"
          id="finecar"
          class="input-text"
          required
        />
      </div>
      <div class="form-group">
        <input type="submit" value="إرسال" class="submit-btn" />
      </div>
    </form>
  </div>

  <div class="fine-details">
    <div class="fine-incont-flex">
      <div class="car-number">
        {{finon.Logs_car_ins.carNumber}}
        <p class="car-number-label">رقم المركبه</p>
      </div>
      <div class="ceo-name">{{finon.Logs_employee_ins.ceoName}}</div>
      <div class="ceo-number">{{finon.Logs_employee_ins.ceoNumber}}</div>
      <div class="created-at">{{finon.created_at|date:"Y-m-d h:i A" }}</div>
    </div>
  </div>
</div>
{% endblock %}
