{% extends "logsApp/layout.html" %} {% block body %} {% load static %}
<div>
  <form action="{% url 'logsApp:finesAccidents'%}" method="POST">
    {% csrf_token %}
    <input type="text" name="textq" />
    <label class="img" for="files"
      >اضافة صورة
      <img
        class="addImgPhoto"
        src="{% static 'logsApp\imgs\add.png' %}"
        alt=""
      />
    </label>
    <input type="file" class="fileInputField" name="files" id="files" />
    <input type="submit" value="add" />
  </form>
</div>
{% endblock %}