{% extends "logsApp/layout.html" %} {% block body %}



<!-- <div>
  <div>
    <form action="">
      {% csrf_token %}
      <input type="date" name="" id="" />
      <input type="time" name="dd" id="" />
    </form>
  </div>
</div> -->

<div class="dbtn-cont">
  <button class="d-btn"><a href="{% url 'logsApp:export_to_excel'%}">تحميل السجل </a></button>
</div>
<div class="mainlog">
  <table border="1">
    <thead>
      <tr class="headtr">
        <th>رقم السياره</th>
        <th>الرقم الاداري</th>
        <th>الاسم</th>
        <th>تاريخ الاستلام</th>
        <th>وقت الاتسلام</th>
        <th>تاريخ التسليم</th>
        <th>وقت التسليم</th>
        <th>ملاحظات</th>
      </tr>
    </thead>
    <tbody>
      {% for k in alllogs %}
      <tr>
        <td>{{k.Logs_car_ins.carNumber}}</td>
        <td>{{k.Logs_employee_ins.ceoNumber}}</td>
        <td class="ceoNameS">{{k.Logs_employee_ins.ceoName}}</td>
        <td>{{k.created_at|date:"Y-m-d"}}</td>
        <td>{{k.created_at|date:"h:i A"}}</td>
        {% if k.return_date %}
        <td>{{k.return_date|date:"Y-m-d"}}</td>
        {% else %}
        <td></td>
        {%endif%} {% if k.return_time %}
        <td>{{k.return_time}}</td>
        {%else%}
        <td></td>
        {%endif%} {% if k.carNote %}
        <td>{{k.carNote}}</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}