{% extends "logsApp/layout.html" %} {% load static %} {% block title %}
<title>سجل الاستلام والتسليم</title>
{% endblock %} {% block css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'logsApp/logs.css' %}" />
{% endblock %} {% block body %}

<div class="logs-btns">
<h1 class="logs-page-title">سجل الاستلام والتسليم</h1>
  <div class="logs-dbtn-cont">
    <button
      class="logs-nav-link-btn logs-show-hide-btn"
      onclick="toggleDownloadFilters()"
    >
      تحميل السجل
    </button>
  </div>
<!-- Replace the existing downloadFiltersMain div with this updated version -->
<div class="logs-filtersMain" id="downloadFiltersMain" style="display: none;">
  <div class="logs-filtersDw">
    <div class="logs-filters-cont">
      <form 
        class="logs-filtersForm" 
        action="{% url 'logsApp:export_to_excel' %}" 
        method="get"
      >
        {% csrf_token %}
        <div class="logs-filter-cont">
          <div>
            <h1>تحميل السجل</h1>
          </div>
          <div class="logs-form-group">
            <label for="carNumbersDownload" class="logs-form-label"
              >رقــــــــم المركبه</label
            >
            <input
              type="text"
              id="carNumbersDownload"
              name="carNumper"
              class="logs-input"
              placeholder="ادخل رقم المركبه هنا "
            />
          </div>
          <div class="logs-form-group">
            <label for="ceoNDownload" class="logs-form-label"
              >الــــــرقم الاداري</label
            >
            <input
              type="text"
              name="ceoN"
              class="logs-input"
              placeholder="ادخل الرقم الاداري هنا"
            />
          </div>
          <div class="logs-form-group">
            <label for="dateTypeDownload" class="logs-form-label"> الــــتاريخ</label>
            <select
              id="dateTypeDownload"
              name="dateType"
              class="logs-input"
              onchange="toggleDownloadDateInput()"
            >
              <option value="day">يوم</option>
              <option value="month">شهر</option>
              <option value="year">سنة</option>
            </select>
          </div>
          <div class="logs-form-group" id="dayInputDownload">
            <label for="dateDownload" class="logs-form-label"
              >تاريخ استلام المركبه</label
            >
            <input type="date" id="dateDownload" name="date" class="logs-input" />
          </div>
          <div class="logs-form-group" id="monthInputDownload" style="display: none">
            <label for="yearDownload" class="logs-form-label">السنة</label>
            <select id="yearDownload" name="year" class="logs-input">
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
            <label for="monthDownload" class="logs-form-label">الشهر</label>
            <select id="monthDownload" name="month" class="logs-input">
              <option value="1">يناير</option>
              <option value="2">فبراير</option>
              <option value="3">مارس</option>
              <option value="4">أبريل</option>
              <option value="5">مايو</option>
              <option value="6">يونيو</option>
              <option value="7">يوليو</option>
              <option value="8">أغسطس</option>
              <option value="9">سبتمبر</option>
              <option value="10">أكتوبر</option>
              <option value="11">نوفمبر</option>
              <option value="12">ديسمبر</option>
            </select>
          </div>
          <div class="logs-form-group" id="yearInputDownload" style="display: none">
            <label for="yearOnlyDownload" class="logs-form-label">السنة</label>
            <select id="yearOnlyDownload" name="yearOnly" class="logs-input">
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <input class="logs-nav-link-btn" type="submit" value="تحميل" />
      </form>
      <div>
        <form action="{% url 'logsApp:export_to_excel' %}" method="get">
          {% csrf_token %}
          <input type="hidden" value="showall" id="showAllDownload" name="showAll" />
          <input
            class="logs-nav-link-btn"
            type="submit"
            value="تحميل كامل السجل"
          />
        </form>
      </div>
    </div>
  </div>
</div>
 
  
  <button
    class="logs-nav-link-btn logs-show-hide-btn"
    onclick="toggleFilters()"
  >
    بحث
  </button>
</div>

<div class="logs-filtersMain" id="filtersMain">
  <div class="logs-filtersDw">
    <div class="logs-filters-cont">
      <form
        class="logs-filtersForm"
        action="{% url 'logsApp:logslink' %}"
        method="get"
      >
        {% csrf_token %}
        <div class="logs-filter-cont">
          <div>
            <h1>بحث عن طريق</h1>
          </div>
          <div class="logs-form-group">
            <label for="carNumbers" class="logs-form-label"
              >رقــــــــم المركبه</label
            >
            <input
              type="text"
              id="carNumbers"
              name="carNumper"
              class="logs-input"
              placeholder="ادخل رقم المركبه هنا "
            />
          </div>
          <div class="logs-form-group">
            <label for="ceoN" class="logs-form-label"
              >الــــــرقم الاداري</label
            >
            <input
              type="text"
              name="ceoN"
              class="logs-input"
              placeholder="ادخل الرقم الاداري هنا"
            />
          </div>
          <div class="logs-form-group">
            <label for="dateType" class="logs-form-label"> الــــتاريخ</label>
            <select
              id="dateType"
              name="dateType"
              class="logs-input"
              onchange="toggleDateInput()"
            >
              <option value="day">يوم</option>
              <option value="month">شهر</option>
              <option value="year">سنة</option>
            </select>
          </div>
          <div class="logs-form-group" id="dayInput">
            <label for="date" class="logs-form-label"
              >تاريخ استلام المركبه</label
            >
            <input type="date" id="date" name="date" class="logs-input" />
          </div>
          <div class="logs-form-group" id="monthInput" style="display: none">
            <label for="year" class="logs-form-label">السنة</label>
            <select id="year" name="year" class="logs-input">
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
            <label for="month" class="logs-form-label">الشهر</label>
            <select id="month" name="month" class="logs-input">
              <option value="1">يناير</option>
              <option value="2">فبراير</option>
              <option value="3">مارس</option>
              <option value="4">أبريل</option>
              <option value="5">مايو</option>
              <option value="6">يونيو</option>
              <option value="7">يوليو</option>
              <option value="8">أغسطس</option>
              <option value="9">سبتمبر</option>
              <option value="10">أكتوبر</option>
              <option value="11">نوفمبر</option>
              <option value="12">ديسمبر</option>
            </select>
          </div>
          <div class="logs-form-group" id="yearInput" style="display: none">
            <label for="yearOnly" class="logs-form-label">السنة</label>
            <select id="yearOnly" name="yearOnly" class="logs-input">
              {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <input class="logs-nav-link-btn" type="submit" value="بحث" />
      </form>
      <div>
        <form action="{% url 'logsApp:logslink' %}" method="get">
          {% csrf_token %}
          <input type="hidden" value="showall" id="showAll" name="showAll" />
          <input
            class="logs-nav-link-btn"
            type="submit"
            value="اظهار كامل السجل "
          />
        </form>
      </div>
    </div>
  </div>
</div>


<div class="logs-mainlog">
  <div class="logs-table-container" id="tableContainer">
    <table class="logs-logs-table">
      <thead>
        <tr class="logs-headtr">
          <th>رقم السياره</th>
          <th>الرقم الاداري</th>
          <th>الاسم</th>
          <th>تاريخ الاستلام</th>
          <th>وقت الاستلام</th>
          <th>تاريخ التسليم</th>
          <th>وقت التسليم</th>
          <th>ملاحظات</th>
        </tr>
      </thead>
      <tbody>
        {% for k in page_obj %}
        <tr class="logs-logtr">
          <td>{{k.Logs_car_ins.carNumber}}</td>
          <td>{{k.Logs_employee_ins.ceoNumber}}</td>
          <td class="logs-ceoNameS">{{k.Logs_employee_ins.ceoName}}</td>
          {% if k.taken_date %}
          <td>{{ k.taken_date|date:"Y-m-d" }}</td>
          {% else %}
          <td>{{ k.created_at|date:"Y-m-d" }}</td>
          {% endif %} {% if k.taken_time %}
          <td>{{ k.taken_time|time:"h:i A" }}</td>
          {% else %}
          <td>{{ k.created_at|time:"h:i A" }}</td>
          {% endif %} {% if k.return_date %}
          <td>{{k.return_date|date:"Y-m-d"}}</td>
          {% else %}
          <td></td>
          {% endif %} {% if k.return_time %}
          <td>{{k.return_time}}</td>
          {% else %}
          <td></td>
          {% endif %} {% if k.carNote %}
          <td class="logs-logs_not_cell">{{k.carNote}}</td>
          {% else %}
          <td class="logs-logs_not_cell"></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="logs-pagination-container">
  <div class="logs-pagination">
    <span class="logs-step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="logs-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

{% endblock %}
