{% extends "logsApp/layout.html" %}

{% block body %}
<h1>logs</h1>
<h1>
    {{ceonumber}}
</h1>

<div>
    <table border="1">
        <thead>
            <tr>
                <th>Car Number</th>
                <th>CEO Number</th>
                <th>CEO Name</th>
                <th> وقت استلام المركبه</th>
                <th>Ended At</th>
            </tr>
        </thead>
        <tbody>
            {% for k in alllogs %}
            <tr>
                <td>{{k.Logs_car_ins.carNumber}}</td>
                <td>{{k.Logs_employee_ins.ceoNumber}}</td>
                <td>{{k.Logs_employee_ins.ceoName}}</td>
                <td>{{k.created_at}}</td>
                <td>{{k.ended_at}}</td>
                <td>{{k.pk}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}