{% extends "logsApp/layout.html" %} {% block body %}
<div class="main">
  <h1>{{inUseErr}}</h1>
  <div class="forms-cont">
    <div class="regCont">
      <form action="{% url 'logsApp:add' %}" dir="rtl" method="post">
        {% csrf_token %}
        <div class="input-container">
          <label for="ceoNumber">الرقم الاداري</label>
          <input
            class="input"
            type="text"
            name="ceoNumber"
            id="ceoNumber"
            required
            placeholder="الرقم الاداري"
          />
          {{carDNE}} {{empDoseNotEXISTS}} {% if EmpMErr %}
          <h3>{{EmpMErr}}</h3>
          {% endif %} {% if InUseCar_exists %} {{InUseCar_exists}} {% endif %}
        </div>
        <div>
          <label for="carNumber">رقم السياره</label>
          <input type="text" name="carNumber" id="carNumber" required />
          {% if inuse %}
          <h3>{{inuse}}</h3>
          {% else %}
          <h1>{{inuse}}</h1>
          {% endif %}
          <input type="submit" value="add" />
        </div>
      </form>
    </div>
    <form action="{% url 'logsApp:ret' %}" method="post">
      {% csrf_token %}
      <h3>تسليم المركبه</h3>
      {% if f %}
      <h3>الرقم الاداري غير صحيح</h3>
      {% endif %} {% if g %}
      <h3>لاتوجد مركبه مرتبطه بل رقم الاداري</h3>
      {% endif %}
      <label for="ceonumber"> الرقم الاداري </label>
      <input type="number" name="ceonumber" id="ceonumber" />
      <label for="note">ملاحظه على السياره</label>
      <input type="text" id="note" name="empnote" />
      <input type="submit" value="submit" />
    </form>

    {% if message %}
    <h1>message</h1>
    {% endif %}
  </div>

  <!-- in use cars cont -->
  <div class="inUsCont">
    {% if l %} {% for n in l %}
    <div class="car-details">
      <div class="details">
        <div class="info">
          <p class="employee-name">اسم المستخدم: {{n.employee.ceoName}}</p>
          <p class="employee-number">الرقم الاداري {{n.employee.ceoNumber}}</p>
          <p class="car-name">{{n.car.carName}} :اسم السياره</p>
          <div class="car-plate">
            <p>{{n.car.carNumber}}</p> <p>رقم اللوحه</p>
          </div>
          <p class="created-at">{{ n.created_at|date:"Y-m-d / h:i A" }}</p>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}

    <h1>لاتوجد مركبات قيد الاستخدام</h1>
    {% endif %}
  </div>
</div>

{% endblock %}
