{% extends "logsApp/layout.html" %} {% block body %}
<div class="main">
  <h1>{{inUseErr}}</h1>

  <div class="forms-cont">
    <div class="regCont">
      <h2>لاستلام المركبه</h2>
      <form action="{% url 'logsApp:add' %}" dir="rtl" method="post">
        {% csrf_token %}
        <div class="input-cont">
          <label class="labels" for="ceoNumber">الرقم الاداري</label>
          <input
            class="inpute"
            type="text"
            name="ceoNumber"
            id="ceoNumber"
            required
            placeholder="مثال: 23945"
          />

          <div class="msg-cont">
            {% if empDoseNotEXISTS %}
            <div id="error-message" class="error-msg">
              {{ empDoseNotEXISTS }}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message");
              }, 7000);
            </script>
            {% endif %}
          </div>

          {% if EmpMErr %}
          <h3>{{EmpMErr}}</h3>
          {% endif %} {% if InUseCar_exists %}
          <h3>{{InUseCar_exists}}</h3>
          {% endif %}
        </div>

        <div class="input-cont">
          <label class="labels" for="carNumber">رقم السياره</label>
          <input
            class="inpute"
            type="text"
            name="carNumber"
            id="carNumber"
            placeholder="1-46793"
            required
          />

          <div class="msg-cont">
            {% if carDNE %}
            <div id="error-message-car" class="error-msg">{{carDNE}}</div>
            <script>
              setTimeout(function () {
                fadeOutMessage("error-message-car");
              }, 7000);
            </script>
            {% endif %}
          </div>

          {% if inuse %}
          <h3>{{inuse}}</h3>
          {% endif %}

          <input class="submit-btn" type="submit" value="تسجيل المركبه" />

          <div class="msg-cont">
            {% if sucssuMessge %}
            <div id="reg-succ-message" class="success-msg">
              {{sucssuMessge}}
            </div>
            <script>
              setTimeout(function () {
                fadeOutMessage("reg-succ-message");
              }, 7000);
            </script>
            {% endif %}
          </div>
        </div>
      </form>
    </div>

    <div class="regCont">
      <h2>لإعادة المركبه</h2>
      <form action="{% url 'logsApp:ret' %}" dir="rtl" method="post">
        {% csrf_token %}
        <div class="input-cont">
          <label class="labels" for="ceonumber"> الرقم الاداري </label>
          <input class="inpute" type="number" name="ceonumber" id="ceonumber" />
          <div class="msg-cont">
            {% if retErrm %}
            <div id="ret-err-message" class="error-msg">{{retErrm}}</div>
            <script>
              setTimeout(function () {
                fadeOutMessage("ret-err-message");
              }, 7000);
            </script>
            {% endif %}
          </div>
        </div>

        <div class="input-cont">
          <label class="labels" for="note">ملاحظه على السياره</label>
          <input class="inpute" type="text" id="note" name="empnote" />

          <div class="msg-cont">
            {% if retCarErr %}
            <div id="ret-car-err" class="error-msg">{{retCarErr}}</div>
            <script>
              setTimeout(function () {
                fadeOutMessage("ret-car-err");
              }, 7000);
            </script>
            {% endif %}
          </div>

          <input class="submit-btn" type="submit" value="إعادة المركبه" />

          <div class="msg-cont">
            {% if retSucssM %}
            <div id="ret-succ-message" class="success-msg">{{retSucssM}}</div>
            <script>
              setTimeout(function () {
                fadeOutMessage("ret-succ-message");
              }, 7000);
            </script>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>

  {% if message %}
  <h1>{{message}}</h1>
  {% endif %}

  <div class="h1n"><h1>مركبات قيد الاستخدام</h1></div>
  <div class="inuseBorder">
    <div class="inUsCont">
      {% if l %} {% for n in l %}
      <div class="car-details">
        <div class="details">
          <div class="info">
            <p class="info-p">اسم المستخدم: {{n.employee.ceoName}}</p>
            <p class="info-p">الرقم الاداري: {{n.employee.ceoNumber}}</p>
            <p>{{n.employee.section}}</p>
            <div class="car-plate">
              <p>{{n.car.carNumber}}</p>
              <p>رقم اللوحه</p>
            </div>
            <p>تاريخ و وقت الاستلام</p>
            <p class="created-at">{{ n.created_at|date:"Y-m-d / h:i A" }}</p>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <h1>لاتوجد مركبات قيد الاستخدام</h1>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}